*{
    background-color:  #040c2c;
    font-family: 'Tai Heritage Pro', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #08F13A;
}

.logo {
    
    margin-top: 25px;
    margin-left: 0px;
    text-shadow: 5px 5px 2px black, 0 0 #08F13A, 0 0 0.3em #08F13A;
    line-height: 0%;
    width: 9%;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.section h1 {
    position: absolute;
    margin: 10px;
    top: 20px;
    left: 230px;
    text-shadow: 5px 10px 2px black, 0 0 1em deepskyblue, 0 0 0.5em deepskyblue;
}

.text-area {
    position: absolute;
    width: 430px;
    height: 55px;
    left: 170px;
    top: 140px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-transform: lowercase;
    text-align: center;
    box-shadow: 20px 20px 30px -20px deepskyblue;
}

::placeholder { color:deepskyblue}
    .text-area:focus {
        outline: none;
    }
    
.informacion {
    position: absolute;
    left: 280px;
    top: 210px;
    color: #08F13A;
    font-size:small;
}

.informacion2 {
    position: absolute;
    left: 410px;
    top: 360px;
    color: #08F13A;
    font-size: 9px;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 700px;
    height: 55px;
    left: 173px;
    top: 420px;
}

.btn-encriptar {
    display: flex;
    padding: 1px 27px;
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 3px solid deepskyblue;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-encriptar:hover {
    background-color: #08F13A;
    color: #040c2c;
    transform: scale(1.1);
}

.btn-desencriptar {
    display: flex;
    background-color: #08F13A;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 3px solid deepskyblue;
    color: darkblue;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-desencriptar:hover {
    background-color: #040c2c;
    color: #08F13A;
    transform: scale(1.1);
}

.mensaje {
    background-image: url("https://raw.githubusercontent.com/josmanyel/Challenge-Oracle-Decoder/master/DECODER/Mu&ntildeeco%20verde.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 90px;
    background-size: 200px 200px;
    position: absolute;          /* lineas de posición */
    padding: 10px 5px 0px 15px;  
    width: 200px;
    height: 400px;
    left: 750px;
    top: 90px;                   /* lineas de posición */
    border: 3px solid deepskyblue;  /* lineas de borde*/
    border-radius: 15px;              /* lieas de borde*/
    text-transform: lowercase;        /* lineas de texto */
    font-size: 20px;
    text-align: center;               /* lineas de texto */
    box-shadow: 20px 20px 30px -20px deepskyblue;  /* lineas de sombra */
}

.mensaje:focus {
    outline: none;
    
}

.p1 {
    position: absolute;
    left: 800px;
    top: 390px;
    font-size: large;
    color: yellow;
    
}

.p2 {
    position: absolute;
    left: 760px;
    top: 455px;
    font-size: xx-small;
    color: yellow;
}

/* Popup container - can be anything you want */
.popup {
    position: absolute;
    left: 763px;
    top: 530px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 210px;
    background-color: rgb(6, 210, 247);
    color: darkblue;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 38%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(6, 210, 247) transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.copiar {
    
    display: inline-block;
    width: 200px;
    height: 55px;
    left: 763px;
    top: 530px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-align: center;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    transition-duration: 0.4s;
    cursor: pointer;
}

.copiar:hover {
    background-color: #08F13A;
    color: #040c2c;
    transform: scale(1.1);
}

.footer {
    position: absolute;
    top: 512px;
    left: 170px;
    width: 420px;
    height: 60px;
    padding: 4px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
}

.byfor {
    color: aqua;
    font-size: small;
    text-align: left;
    margin: 5px 0px 0px 0px;
}

.redes {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 40px;
    top: 20px;
    left: 250px;
}

.fa-github {
    display: inline-block;
    font-size: 0px;
    padding-bottom: 5px;
    opacity: 0.1;    
}

.fa-github:hover {
    opacity: 1.0;
  }

.fa-linkedin {
    display: inline-block;
    font-size: 0px;
    padding-bottom: 5px;
    opacity: 0.1;
}

.fa-linkedin:hover {
    opacity: 1.0;
  }

.fa-instagram {
    display: inline-block;
    font-size: 0px;
    padding-bottom: 5px;
    opacity: 0.1;
}

.fa-instagram:hover {
    opacity: 1.0;
  }
