*{
    background-color:  #040c2c;
    font-family: 'Inter', sans-serif;
    font-family: 'Tai Heritage Pro', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: rgb(8, 241, 58);
}

.logo {
    
    margin-left: 30px;
    font-size: 70px;
    text-shadow: 5px 10px 2px black, 0 0 1em #08F13A, 0 0 0.5em #08F13A;
    line-height: 0%;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.section h1 {
    position: absolute;
    margin: 10px;
    top: 25px;
    left: 340px;
    text-shadow: 5px 10px 2px black, 0 0 1em deepskyblue, 0 0 0.5em deepskyblue;
}

.text-area {
    position: absolute;
    width: 400px;
    height: 55px;
    left: 130px;
    top: 90px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-transform: lowercase;
    text-align: center;

}
::placeholder { color:deepskyblue}
    .text-area:focus {
        outline: none;
    }
    .mensaje:focus {
        outline: none;
        font-size: 20px;
    }

.mensaje {
    position: absolute;
    padding: 10px 5px 0px 15px;
    width: 200px;
    height: 400px;
    left: 780px;
    top: 90px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-transform: lowercase;
    text-align: center;
}