*{
    background-color:  #040c2c;
    font-family: 'Tai Heritage Pro', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #08F13A;
}

.logo {
    
    margin-top: 25px;
    margin-left: 0px;
    text-shadow: 5px 5px 2px black, 0 0 #08F13A, 0 0 0.3em #08F13A;
    line-height: 0%;
    width: 9%;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.section h1 {
    position: absolute;
    margin: 10px;
    top: 20px;
    left: 230px;
    text-shadow: 5px 10px 2px black, 0 0 1em deepskyblue, 0 0 0.5em deepskyblue;
}

.text-area {
    position: absolute;
    width: 430px;
    height: 55px;
    left: 170px;
    top: 140px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-transform: lowercase;
    text-align: center;
    box-shadow: 20px 20px 30px -20px deepskyblue;
}

::placeholder { color:deepskyblue}
    .text-area:focus {
        outline: none;
    }
    
.informacion {
    position: absolute;
    left: 280px;
    top: 210px;
    color: #08F13A;
    font-size:small;
}

.informacion2 {
    position: absolute;
    left: 410px;
    top: 360px;
    color: #08F13A;
    font-size: 9px;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 700px;
    height: 55px;
    left: 180px;
    top: 420px;
}

.btn-encriptar {
    display: flex;
    padding: 1px 27px;
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 3px solid deepskyblue;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-encriptar:hover {
    background-color: #08F13A;
    color: #040c2c;
    transform: scale(1.1);
}

.btn-desencriptar {
    display: flex;
    background-color: #08F13A;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 3px solid deepskyblue;
    color: darkblue;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-desencriptar:hover {
    background-color: #040c2c;
    color: #08F13A;
    transform: scale(1.1);
}

.mensaje {
    background-image: url("D:/1. CURSOS 2022/4. DEV/ONE_Oracle Next Education/NOTAS DE CHALLENGE 1 DECODER/DECODER/Muñeco verde.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 90px;
    background-size: 200px 200px;
    position: absolute;          /* lineas de posición */
    padding: 10px 5px 0px 15px;  
    width: 200px;
    height: 400px;
    left: 750px;
    top: 90px;                   /* lineas de posición */
    border: 3px solid deepskyblue;  /* lineas de borde*/
    border-radius: 15px;              /* lieas de borde*/
    text-transform: lowercase;        /* lineas de texto */
    font-size: 20px;
    text-align: center;               /* lineas de texto */
    box-shadow: 20px 20px 30px -20px deepskyblue;  /* lineas de sombra */
}

.mensaje:focus {
    outline: none;
    
}

.P1 {
    position: absolute;
    left: 800px;
    top: 370px;
    font-size: large;
    color: yellow;
    
}

.P2 {
    position: absolute;
    left: 760px;
    top: 435px;
    font-size: xx-small;
    color: yellow;
}

.copiar {
    position: absolute;
    width: 200px;
    height: 55px;
    left: 763px;
    top: 530px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-align: center;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    transition-duration: 0.4s;
    cursor: pointer;
}

.copiar:hover {
    background-color: #08F13A;
    color: #040c2c;
    transform: scale(1.1);
}

.footer {
    position: absolute;
    top: 530px;
    left: 176px;
    bottom: 10px;
    width: 430px;
    height: 55px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    
}

.byfor {
    color: aqua;
    font-size: x-small;
    text-align: center;
}

.footer:hover {
    
    color: #040c2c;
    transition-duration: 0.4s;
    transform: scale(1.4);
    box-shadow: 20px 20px 30px -20px deepskyblue;
}

.redes {
    
}
