*{
    background-color:  #040c2c;
    font-family: 'Inter', sans-serif;
    font-family: 'Tai Heritage Pro', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: rgb(8, 241, 58);
}

.logo {
    
    margin-left: 30px;
    font-size: 70px;
    text-shadow: 5px 5px 2px black, 0 0 #08F13A, 0 0 0.3em #08F13A;
    line-height: 0%;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.section h1 {
    position: absolute;
    margin: 10px;
    top: 20px;
    left: 230px;
    text-shadow: 5px 10px 2px black, 0 0 1em deepskyblue, 0 0 0.5em deepskyblue;
}

.text-area {
    position: absolute;
    width: 430px;
    height: 55px;
    left: 170px;
    top: 200px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-transform: lowercase;
    text-align: center;
    box-shadow: 20px 20px 30px -20px deepskyblue;
}

::placeholder { color:deepskyblue}
    .text-area:focus {
        outline: none;
    }
    .mensaje:focus {
        outline: none;
        font-size: 20px;
    }

.mensaje {
    background-image: url("D:/1. CURSOS 2022/4. DEV/ONE_Oracle Next Education/NOTAS DE CHALLENGE 1 DECODER/DECODER/Muñeco verde.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 200px;
    background-size: 200px 200px;
    position: absolute;
    padding: 10px 5px 0px 15px;
    width: 200px;
    height: 400px;
    left: 750px;
    top: 90px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-transform: lowercase;
    text-align: center;
    box-shadow: 20px 20px 30px -20px deepskyblue;
}

.informacion {
    position: absolute;
    left: 280px;
    top: 270px;
    color: #08F13A;
    font-size:small;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 700px;
    height: 55px;
    left: 180px;
    top: 530px;
}

.btn-encriptar {
    display: flex;
    padding: 1px 27px;
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 3px solid deepskyblue;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    cursor: pointer;
}

.btn-desencriptar {
    display: flex;
    background-color: #08F13A;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 3px solid deepskyblue;
    color: darkblue;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    cursor: pointer;
}

.copiar {
    position: absolute;
    width: 200px;
    height: 55px;
    left: 763px;
    top: 530px;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    text-align: center;
    box-shadow: 20px 20px 30px -20px deepskyblue;
    cursor: pointer;
}